.container {
  margin-top: 2em;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
}

@media (min-width: 1200px) {
  .container--small {
    width: 1000px;
  }
}

.container--small {
  max-width: 100%;
}


h2 {
  font-weight: bold !important;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 175px;
}

.header-item {
  width: 32%;
  position: relative;
}

.header-item__slogan {
  border-bottom: 25px solid #06AA4C;
  padding-right: 1em;
}

.header-item__social {
  border-bottom: 25px solid #06AA4C;
}

.header-item__logo img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
}

.header-item__slogan div,
.header-item__social div {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.header-item__social div {
  float: right;
  text-align: right;
}

.social-icons {
  display: inline;
}

.social-icons li {
  display: inline-block;
  font-size: 40px;
}

.social-icons li a {
  color: #69A845;
}

.social-email {
  text-align: right;
}

.product {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 32%;
  position: relative;
}

.product__gallery img {
  width: 100%;
  margin-bottom: 1.5em;
}

hr {
  border-bottom: 25px solid #06AA4C;
}
